<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="${notice.ntitle}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	
		<!-- <form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>   --> 
		
		
		<nav class="navbar navbar-default navbar-fixed-top" id="_navcolor">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a  th:href="@{/admin/allnotice}">
		      <img alt="logo sample"  th:src="@{/images/logo.png}"/></a>
		    </div>
		    <ul class="nav navbar-nav" id="_nav_ul">
		      <li class="active"><a th:href="@{/admin/allnotice}">Home</a></li>
		      <li><a th:href="@{/admin/allnotice}">Cat-1</a></li>
		      <li><a th:href="@{/admin/allnotice}">Cat-2</a></li>
		      <li><a th:href="@{/admin/allnotice}">Cat-3</a></li>
		      <li><a th:href="@{/admin/allnotice}">Cat-4</a></li>
		      <li><a th:href="@{/admin/allnotice}">Cat-5</a></li>
		      <li><a th:href="@{/admin/allnotice}">Cat-6</a></li>
		      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Post<span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a th:href="@{/admin/mynotice}">My Post</a></li>
		          <li><a th:href="@{/admin/allnotice}">All Post</a></li>
		          <li><a th:href="@{/admin/addNotice}">Add New Post</a></li>
		        </ul>
		      </li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">User <span class="glyphicon glyphicon-menu-hamburger"></span></a>
		        <ul class="dropdown-menu">
		          <li><span th:utext="${userName}"></span></li>
		          <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
		        </ul>
		      </li>
		    </ul>
		  </div>
		</nav>
		 
		 <!-- <div class="container-fluid">
			<div class="row">
				<div class="col-md-8" id="col_8_4">
					<div class="row" id="col_12">
	
					</div>
					<div class="row">
						<div class="col-md-6" id="col_6">
	
						</div>
						<div class="col-md-6" id="col_6">
	
						</div>				
					</div>			
				</div>
				<div class="col-md-4" id="col_8_4">
					
					<div th:each = "notice : ${notice}">
				    	<div class="row" id="row">
					    	<div id="box">
					    		<a th:href="@{${notice.ntitle}}"><span th:text="${notice.ntitle}"></span></a>
					    		</div>
				    	</div>
					</div>
					
				</div>		
			</div>
		</div> -->
		 
		<!--  <div class="container"> -->
		  <h2></h2>
		  <div class="panel panel-primary">
		    <div class="panel-heading">Discussion</div>
		    <div class="panel-body">
		    	
		    	<div>
			    	<div class="row" id="row">
				    	<div id="box"><h2 th:text="${notice.ntitle}"></h2></div>
				    	<div id="box2"><h5 th:text="${notice.users.fullname}"></h5>
				    				  <h6 th:text="${notice.date}"></h6>
				    				  <h6 th:text="${notice.users.email}"></h6></div>
				    	<div id="box" class="truncate">
				    		<p th:utext="${notice.nbody}">
				    			
				    		</p>
				    	</div>
				    	<!-- <span th:text="${notice.ntitle}"></span>
				    	<span >http://localhost:8080<span th:text="${#httpServletRequest.requestURI}"></span></span> -->
				    	<div id="disqus_thread"></div>
							<script>
							
								/**
								*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
								*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
								
								var disqus_config = function () {
								this.page.url = '<span >http://localhost:8080<span th:text="${#httpServletRequest.requestURI}"></span></span>';  // Replace PAGE_URL with your page's canonical URL variable
								this.page.identifier = '${notice.ntitle}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
								};
								
								(function() { // DON'T EDIT BELOW THIS LINE
								var d = document, s = d.createElement('script');
								s.src = 'https://discussboxmsg.disqus.com/embed.js';
								s.setAttribute('data-timestamp', +new Date());
								(d.head || d.body).appendChild(s);
								})();
							</script>
							<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>             
				    	<script id="dsq-count-scr" src="//discussboxmsg.disqus.com/count.js" async></script>
			    	</div>
				</div>
				
		    </div>
		  </div>
	</div>
</body>

	<!-- <script>
	$(document).ready(function() {
	(function(){
	  	var showChar = 400;
	    var ellipsestext = "...";
		
		$('.truncate').each(function() {
	        var content = $(this).html();
	        if(content.length > showChar) {
	 
	            var c = content.substr(0, showChar);
	 			var h = content;	
	            var html = '<div class="truncate-text" style="display:block">' + c + '<span class="moreellipses">' + ellipsestext + '&nbsp;&nbsp;<a href="" class="moreless more">more</a></span></span></div><div class="truncate-text" style="display:none">' + h + '<a href="" class="moreless less">Less</a></span></div>';
	 
	            $(this).html(html);
	        }
	 
	    });
	 
	    $(".moreless").click(function(){
			var thisEl = $(this); 
	        if(thisEl.hasClass("less")) {
	        	thisEl.closest('.truncate-text').prev('.truncate-text').toggle();
	    		thisEl.closest('.truncate-text').slideToggle();
	        } else {
				thisEl.closest('.truncate-text').toggle();
				thisEl.closest('.truncate-text').next('.truncate-text').fadeToggle();
	        }
		   	return false;
	    });
		/* end iffe */
		}());
	
	/* end ready */    
	});
	</script> -->


</html>